<% if (theme.busuanzi && theme.busuanzi.enable){ %>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<span id="busuanzi_container_site_uv"># &#x300C; Cumulative Guests &#x300D;<span id="busuanzi_value_site_uv"></span> #</span>
<% } %>
<br>
<a href="http://www.beian.miit.gov.cn/" style="text-decoration: none;"># &#x300C; 沪ICP备20003125号 &#x300D; </a>